body
  font-family: "Iosevka Web", "Iosevka", monospace
  background: #e

.preview
  height: 16em
  width: 16em
  padding: 4em
  background: rgb(72,52,255)
#svgBackground
  height: 16em
  width: 16em

.title
  font-family: "Kumar One", monospace
  font-weight: bold
  font-size: 2em
  color: #444
  padding: 0.25em
  span
    font-family: "Iosevka Web", "Iosevka", monospace